@font-face {
    font-family: 'Spartan';
    src: url('/Spartan-VariableFont_wght.ttf');
}

body {
    font-family: 'Spartan', sans-serif;
    color: white;
}

.container.padded {
    padding: 3em;
    overflow-x: auto;
}

.centered-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10em;
}
.centered-container > * {
    font-size: 10em;
}

.loader {
    background-color: rgba(32,32,64, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.button {
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 5em;
    padding: 0.5em 1em;
    border: none;
    background-color: #3498db;
}

    .button:disabled {
        background-color: #7f8c8d
    }

.button {
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 5em;
    padding: 0.5em 1em;
    border: none;
    background-color: #3498db;
}
.green {
    background-color: #2ecc71;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
    text-decoration: none !important;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body, #root {
    background-color: #011936;
    min-height: 100vh;
}

.challenger-nav {
    z-index: 10000;
    padding: 1.5em;
    background-color: #ff6363;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.challenger-nav a {
    color: white;
}

.challenger-nav .menu :not(:last-child) {
    margin-right: 1em;
}

h1, h2, h3 {
  color: #eeeeee;
  text-align: center;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container .logo {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
}

.tournament-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 2em auto;
}
    .tournament-form input[type=submit] {
        cursor: pointer;
    }

    .tournament-form input {
        font-size: 1.25rem;
        border-radius: 5em;
        padding: 0.5em 1em;
        border: none;
    }

    .tournament-form .select-wrapper {
        width: 100%;
        border-radius: 5em;
        display: inline-block;
        overflow: hidden;
    }
        .tournament-form .select-wrapper select {
            display: inline-block;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 0.5em 1em;
            width: 100%;
            font-size: 1.25rem;
            border: 0px;
            outline: none;
        }

.tournament-form > * {
  margin-top: 1em;
}

    .tournament-form .list-group {
        color: black;
    }

    .tournament-form form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .tournament-form form input[type=text] {
        width: calc(100% - 6em);
    }
        .tournament-form form input[type=submit] {
            width: 5em;
        }

.close-badge {
    cursor: pointer;
    position: absolute;
    background-color: #3498db;
    padding: .3em 1em;
    border-radius: 3em;
}

.tournament-bracket__number:focus {
  outline-width: 0;
  background-color: #3498db;
  color: white;
}

/* Chrome, Safari, Edge, Opera */
.tournament-bracket__number::-webkit-outer-spin-button,
.tournament-bracket__number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.tournament-bracket__number[type=number] {
  -moz-appearance: textfield;
}

.title {
    background-color: #ffbd69;
    margin-bottom: 1em;
    padding: 1.5em;
}

.tile-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.tile {
    width: 20%;
    min-width: 20%;
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    -webkit-transform: translate3d(0, 0, 0);
}

    .tile .content {
        position: absolute;
        color: white;
        font-size: 1.25em;
        text-align: center;
        visibility: visible;
        opacity: 1;
        transition: visibility .3s, opacity .3s linear;
        background-color: rgba(0,0,0,0.2);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tile:hover .content {
        visibility: hidden;
        opacity: 0;
    }

.tile:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

    .tile img {
        object-fit: cover;
        border-radius: 50%;
        height: 100%;
        width: 100%;
        -webkit-filter: blur(4px);
        filter: blur(4px);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    .tile:hover img {
        -webkit-filter: blur(0);
        filter: blur(0);
    }

.container {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: 0;
}

.item-list {
    background: white;
    padding: 0.5em;
    border-radius: 1.25em;
    display: grid;
    grid-template-columns: calc(50% - 0.25em) calc(50% - 0.25em);
    grid-gap: 0.5em;
}

    .item-list li {
        text-align: center;
        padding: 0.5em 1em;
        border-radius: 5em;
        background-color: #95a5a6;
    }


@media screen and (max-width: 700px) {

    h1 {
        font-size: 1.5em;
    }

    .tile .content {
        font-size: .8em;
    }

    .tournament-form {
        width: 80%;
        margin: 1em auto;
    }

    .tournament-form input, .tournament-form .select-wrapper select {
        font-size: 1em;
    }

    .container.padded {
        padding: 1em;
    }
}
/* ----------------------------------------------
 * Generated by Animista on 2020-4-19 3:38:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
.swing-in-top-fwd {
    -webkit-animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}

@keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-19 3:56:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
.slide-in-left {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}


/* ----------------------------------------------
 * Generated by Animista on 2020-4-19 12:45:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
.jello-horizontal {
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
}


/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-19 18:28:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
#root {
    -webkit-animation: color-change-2x 7s linear infinite alternate both;
    animation: color-change-2x 7s linear infinite alternate both;
}

/**
 * ----------------------------------------
 * animation color-change-2x
 * ----------------------------------------
 */
@-webkit-keyframes color-change-2x {
    0% {
        background: #202040;
    }

    100% {
        background: #543864;
    }
}

@keyframes color-change-2x {
    0% {
        background: #202040;
    }

    100% {
        background: #543864;
    }
}

.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-grid div {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #fff;
        animation: lds-grid 1.2s linear infinite;
    }

        .lds-grid div:nth-child(1) {
            top: 8px;
            left: 8px;
            animation-delay: 0s;
        }

        .lds-grid div:nth-child(2) {
            top: 8px;
            left: 32px;
            animation-delay: -0.4s;
        }

        .lds-grid div:nth-child(3) {
            top: 8px;
            left: 56px;
            animation-delay: -0.8s;
        }

        .lds-grid div:nth-child(4) {
            top: 32px;
            left: 8px;
            animation-delay: -0.4s;
        }

        .lds-grid div:nth-child(5) {
            top: 32px;
            left: 32px;
            animation-delay: -0.8s;
        }

        .lds-grid div:nth-child(6) {
            top: 32px;
            left: 56px;
            animation-delay: -1.2s;
        }

        .lds-grid div:nth-child(7) {
            top: 56px;
            left: 8px;
            animation-delay: -0.8s;
        }

        .lds-grid div:nth-child(8) {
            top: 56px;
            left: 32px;
            animation-delay: -1.2s;
        }

        .lds-grid div:nth-child(9) {
            top: 56px;
            left: 56px;
            animation-delay: -1.6s;
        }

@keyframes lds-grid {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}