/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body, #root {
  background-color: #222831;
  min-height: 100vh;
}

.challenger-nav {
  background-color: #00adb5;
}

h1, h2, h3 {
  color: #eeeeee;
  text-align: center;
  font-size: 3em;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container .logo {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
}

.tournamentForm {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.tournamentForm input {
  font-size: 1.5rem;
  border-radius: 30px;
  padding: 0.5em 1em;
  border:none;
}

.tournamentForm .dividedField {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tournamentForm .dividedField input {
  width: 85%;
  display: inline-block;
}

.tournamentForm .dividedField button {
   display: inline-block;
   background-color: #27ae60;
   border-radius: 50%;
   width: 3em;
   height: 3em;
   font-size: 1.5em;
 }

.tournamentForm button {
  background-color: #27ae60;
  font-size: 1.5rem;
  border-radius: 30px;
  padding: 0.5em 1em;
  border:none;
}

.tournamentForm > * {
  margin-top: 1em;
}

.closeBadge {
  cursor: pointer;
  position: absolute;
}

.tournament-bracket__number:focus {
  outline-width: 0;
  background-color: #3498db;
  color: white;
}

/* Chrome, Safari, Edge, Opera */
.tournament-bracket__number::-webkit-outer-spin-button,
.tournament-bracket__number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.tournament-bracket__number[type=number] {
  -moz-appearance: textfield;
}
